@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Montserrat:wght@400;600&display=swap');
.card {
    --background: linear-gradient(to right, #001f5c 0%, #380041 100%);
    width: 95%;
    height: 100%;
    padding: 1px;
    border-radius: 0.7rem;
    overflow: hidden;
    background: var(--background);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

/* Background Blur Effect */
.card::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: inherit;
    background: var(--background);
    filter: blur(10px);
    transition: opacity 0.5s, transform 0.5s;
}

/* Response Container */
.response-container {
    background: linear-gradient(145deg, #000000, #212121);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-family: 'Montserrat';
    color: white;
    width: 96%;
    min-height: 90%;
    max-height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Button Styling */
.card .use-geass-button {
    width: 70%;
    height: 50px;
    padding: 8px 16px;
    border-radius: 5px;
    font-family: Consolas, Courier New, monospace;
    font-size: 16px;
    color: rgb(161, 161, 161);
    background: linear-gradient(145deg, #000000, #212121);
    border: solid #404c5d 1px;
    cursor: pointer;
    transition: 500ms;
    box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
        inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .use-geass-button:hover {
    box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    color: #d6d6d6;
    transition: 500ms;
}

.card .use-geass-button:active {
    box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    color: #d6d6d6;
    transition: 100ms;
}
.spinner {
    width: 3em;
    height: 3em;
    cursor: not-allowed;
    border-radius: 50%;
    border: 2px solid #444;
    box-shadow: -10px -10px 10px #6359f8, 
                0px -10px 10px 0px #9c32e2, 
                10px -10px 10px #f36896, 
                10px 0 10px #ff0b0b, 
                10px 10px 10px 0px #ff5500, 
                0 10px 10px 0px #ff9500, 
                -10px 10px 10px 0px #ffb700;
    animation: rot55 0.7s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .spinnerin {
    border: 2px solid #444;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes rot55 {
    to {
      transform: rotate(360deg);
    }
  }
  
  .use-geass-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
